/* Tape elements */
.vc-tape-wrapper{
    perspective: 800px;
}
.vc-tape {
    width: 586px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease-in-out;
}
.vc-tape-back{
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent url(../../image/cs_back.png) no-repeat center center;
}
.vc-tape-wheel {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 110px;
    background: transparent;
    border-radius: 50%;
}
.vc-tape-wheel-left {
    left: 109px;
    box-shadow: 0 0 0 70px #000;  
}
.vc-tape-wheel-right{
    right: 113px;
    box-shadow: 0 0 0 0px #000;  
}
.isplaying {
    animation: rotateRight 2s linear infinite forwards;
}
@keyframes rotateLeft {
    0% { transform: rotate(0deg) translateZ(-1px); }
    100% { transform: rotate(-360deg) translateZ(-1px); }
}
@keyframes rotateRight {
    0% { transform: rotate(0deg) translateZ(-1px); }
    100% { transform: rotate(360deg) translateZ(-1px); }
}
.vc-tape-wheel div{
    width: 100%;
    height: 100%;
    background: transparent url(../../image/cs_wheel.png) no-repeat center center;
}
.vc-tape-front{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../../image/cs_front.png) no-repeat center center;
    top: 0px;
    left: 0px;
}
.vc-tape-side-b{
    display: none;
    transform: rotate3d(0, 1, 0, 180deg);
}

.vc-tape-front span{
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 83px;
    left: 67px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
