.App {
  text-align: center;
}

.App .alert {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../../image/loading.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 100;
}

.player {
    width: 700px;
    float: left;
}
