ul, li, p {padding: 0;margin: 0;}
@font-face {
    font-family: 'playericons';
    src:    url("fonts/playericons.eot");
    src:    url("fonts/playericons.eot?#iefix") format('embedded-opentype'), 
        url("fonts/playericons.woff") format('woff'), 
        url("fonts/playericons.ttf") format('truetype'), 
        url("fonts/playericons.svg#playericons") format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Cambria, Georgia, serif;
    background: #b6b6b6 url(../image/bg.jpg) fixed no-repeat top center;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow-y: scroll;
    overflow-x: hidden;
}
.player {
    width: 700px;
    float: left;
}
.control {
    display: flex;
    margin: 0 auto;
    -align-items: center;
}
.volume {
    width: 200px;
    height: 250px;
    -display: flex;
    -align-items: center;
}
#vol {   
    width: 170px;
    height: 70px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0 20px 20px 0;
    margin: 0;
}
#vol li {
    background-color: yellow;
    width: 8px;
    list-style: none;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    margin-right: 5px;
}
.disabled {
    background-color: #dddee1 !important;
}
#knob {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 8px;
    box-sizing: content-box;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, rgba(170,170,170,0.35) 0%,rgba(255,255,255,0.44) 50%,rgba(255,255,255,0.53) 100%);
    box-shadow: inset 0 1px 0px rgba(0,0,0,0.05), 0 1px 0 rgba(255,255,255,0.6), 0 -1px 0 rgba(255,255,255,0.4), inset 0 2px 19px rgba(0,0,0,0.05), 0 2px 1px rgba(0,0,0,0.06);  
}
#knob:after {
    font-family: 'Aldrich';
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    content: 'Volume';
    position: absolute;
    width: 100%;
    bottom: -25px;
    left: 0;
}
#knob > div {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    position: absolute;
}
#knob .show {
    background: url('../image/knob.jpg') no-repeat;
}
#knob .show:after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #666;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 4px;
    border-radius: 50%;
    cursor: default !important;
    box-shadow: 0 0 1px #5a5a5a inset, 1px -1px 1px rgba(255,255,255,0.5);
}
#knob .base {
    box-shadow: 0 5px 0 #555, 0px 5px 5px black;
}


#control-btn {
    width: 500px;
}
ul.vc-controls li, .vc-volume-wrap:after {
    font-family: 'Aldrich';
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}
/* Controls list */
ul.vc-controls {
    list-style: none;
    width: 440px;
    background: linear-gradient(to bottom, rgba(170,170,170,0.35) 0%,rgba(255,255,255,0.44) 50%,rgba(255,255,255,0.53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59aaaaaa', endColorstr='#87ffffff',GradientType=0 );
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom-color: rgba(255,255,255,0.6);
    padding: 8px;
    height: 54px;
    margin-top: 50px !important;
    box-shadow: 
        inset 0 1px 0px rgba(0,0,0,0.05),
        0 1px 0 rgba(255,255,255,0.8),
        0 -1px 0 rgba(255,255,255,0.4),
        inset 0 2px 19px rgba(0,0,0,0.05),
        0 2px 1px rgba(0,0,0,0.06);
    box-sizing: content-box;
    border-radius: 12px;
    margin: 0 auto;
}

/* Controls list items */
ul.vc-controls li {
    display: block;
    float: left;
    width: 80px;
    height: 50px;
    line-height: 55px;
    text-align: left;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    background: #ddd url(../image/metal.jpg) no-repeat center top;
    box-shadow: 
        inset 0 0 0 1px rgba(0,0,0, 0.2), 
        inset 0 0 1px 2px rgba(255,255,255,0.9),
        inset 0 -6px 5px rgba(0,0,0,0.1),
        0 6px 7px rgba(0,0,0,0.3),
        0 4px 1px rgba(0,0,0,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

ul.vc-controls li:first-child{
    border-radius: 8px 0 0 8px;
}

ul.vc-controls li:last-child{
    border-radius: 0px 8px 8px 0px;
}

ul.vc-controls li.vc-control-play{
    width: 120px;
}

/* Control icons */
ul.vc-controls li span:before{
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #444;
    font-family: 'playericons';
    text-shadow:  1px 1px 1px rgba(255,255,255,0.9);
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
}

li.vc-control-pause span:before { content: '\50'; } 
li.vc-control-next span:before { content: '\23e9'; } 
li.vc-control-prev span:before { content: '\23ea'; } 
li.vc-control-stop span:before { content: '\25aa'; } 
li.vc-control-play span:before { content: '\70'; } 
li.vc-control-volume-off span:before { content: 'ðŸ”‡'; } 
li.vc-control-volume-down span:before { content: 'ðŸ”‰'; } 
li.vc-control-volume-up span:before { content: 'ðŸ”Š'; } 

ul.vc-controls li:hover{
    box-shadow: 
        inset 0 0 0 1px rgba(0,0,0, 0.2), 
        inset 0 0 1px 2px rgba(255,255,255,0.9),
        inset 0 -10px 15px rgba(0,0,0,0.1),
        0 6px 7px rgba(0,0,0,0.3),
        0 4px 1px rgba(0,0,0,0.5);
}
/* Pressed (active) */
ul.vc-controls li.vc-control-active {
    height: 50px;
    margin-top: 2px;
    background-image: url(../image/metal_dark.jpg);
    box-shadow: 
        inset 0 0 0 1px rgba(0,0,0, 0.18), 
        inset 0 0 1px 2px rgba(255,255,255,0.5),
        inset 0 -6px 5px rgba(0,0,0,0.1),
        0 6px 7px rgba(0,0,0,0.3),
        0 2px 1px rgba(0,0,0,0.5);

}

/* Activated */
ul.vc-controls li.vc-control-pressed,
ul.vc-controls li.vc-control-active.vc-control-pressed{
    height: 50px;
    background-image: url(../image/metal_dark.jpg);
    margin-top: 4px;
    box-shadow: 
        inset 0 0 0 1px rgba(0,0,0, 0.2), 
        inset 0 0 5px 1px rgba(255,255,255,0.5),
        inset 0 -10px 15px rgba(0,0,0,0.2),
        0 7px 5px rgba(255,255,255,0.5);
}

/* Tape elements */
.vc-tape-wrapper{
    perspective: 800px;
}
.vc-tape {
    width: 586px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease-in-out;
}
.vc-tape-back{
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent url(../image/cs_back.png) no-repeat center center;
}
.vc-tape-wheel {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 110px;
    background: transparent;
    border-radius: 50%;
}
.vc-tape-wheel-left {
    left: 109px;
    box-shadow: 0 0 0 70px #000;  
}
.vc-tape-wheel-right{
    right: 113px;
    box-shadow: 0 0 0 0px #000;  
}
.isplaying {
    animation: rotateRight 2s linear infinite forwards;
}
@keyframes rotateLeft {
    0% { transform: rotate(0deg) translateZ(-1px); }
    100% { transform: rotate(-360deg) translateZ(-1px); }
}
@keyframes rotateRight {
    0% { transform: rotate(0deg) translateZ(-1px); }
    100% { transform: rotate(360deg) translateZ(-1px); }
}
.vc-tape-wheel div{
    width: 100%;
    height: 100%;
    background: transparent url(../image/cs_wheel.png) no-repeat center center;
}
.vc-tape-front{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../image/cs_front.png) no-repeat center center;
    top: 0px;
    left: 0px;
}
.vc-tape-side-b{
    display: none;
    transform: rotate3d(0, 1, 0, 180deg);
}

.vc-tape-front span{
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 83px;
    left: 67px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

/* 中间显示区 */
.show-info {
    width: 660px;
    height: 80px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    background-image: url(../image/mutou.jpg);
}
.cover {
    width: 80px;
    height: 80px;
    border: 2px solid grey;
    background-image: url(../image/cover.png);
}
.cover > img {
    width: 100%;
    height: 100%;
}
.cover > img[src=""] {
    opacity: 0;
}
.show-title {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid grey;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.show-title > span {
    animation: moving 4s linear infinite alternate;
    padding: 0 10px;
    white-space:nowrap;
    line-height: 50px;
    font-family: cursive;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}
/*@keyframes moving {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}*/

.led-num {
    border: 2px solid grey;
}
.led {
    width: 60px;
    height: 80px;
    background-color: #000;
    padding: 10px 0;
    box-sizing: border-box;
    float: left;
}
.led.dot {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.led.dot > i {
    height: 10px;
    width: 10px;
    display: block;
    background: #333;
    border-radius: 50%;
}
.enable {
    background-color: #f12a27 !important;
    box-shadow: 0px 0px 10px 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722;
}
.area-1, .area-3, .area-5 {
    height: 10%;
}
.area-2, .area-4 {
    height: 35%;
    display: flex;
    justify-content: space-between;
}
.seg {
    display: block;
    border-radius: 4px;
    background: #333;
    width: 30px;
    height: 100%;
    margin: 0 auto;
}
.pin-b, .pin-c, .pin-e, .pin-f {
    width: 6px;
    height: 100%;
}

.progress {
    width: 460px;
    height: 70px;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px 0 0 20px;
}
.progress-bar {
    width: 350px;
    height: 12px;
    cursor: pointer;
    background: linear-gradient(to right,#E50743 0%, #F9870F 15%, #E8ED30 30%, 
            #3FA62E 45%,#3BB4D7 60%,#2F4D9E 75%,#71378A 80%);
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar .show-bar {
    width: 100%;
    height: 12px;
    background: grey;
    float: right;
    /*box-shadow: 0px 0px 10px 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF;
    box-shadow: 0px 0px 10px 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722;
    background-color: #fff;*/
    -border-radius: 4px;
}
.show-num {
    color: #fff;
}
@keyframes playingBar {
    100% { width: 0; }
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* 歌曲列表样式 */
.song-list {
    user-select: none;
    width: 400px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
    float: left;
    background-color: #fff;
    position: relative;
}
#fileDialog > input[type=file] {
    display: none;
}
.song-list .song {
    padding-top: 20px;
    height: 530px;
    position: relative;
    bottom: 0;
    overflow: auto;
}
.song-list .song::-webkit-scrollbar {
        width:10px;
        height:10px;
    }
.song-list .song::-webkit-scrollbar-button    {
    background-color: #bbbec4;
}
.song-list .song::-webkit-scrollbar-track     {
    background: #a1c5ea;
}
.song-list .song::-webkit-scrollbar-thumb{
    background: #5cadff;
    border-radius: 4px;
}
/*.song-list .song::-webkit-scrollbar-corner {
    background:#82AFFF;
}
.song-list .song::-webkit-scrollbar-resizer  {
    background:#FF0BEE;
}*/
.song-list .one-song {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid #bbbec4;
}
.song-list .one-song:nth-child(even) {
    background-color: #f8f8f9;
}
.song-list .song > span {
    float: left;
}
.song-list .song .index {
    width: 50px;
    text-align: right;
}
.song-list .song .title {
    width: 260px;
    font-weight: bold;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: pointer;
}
.song-list .song .total {
    float: right;
    width: 50px;
    text-align: left;
}
.song-list .song .active { 
    animation: flash 1s infinite; 
    background: #00FF00; 
    color: #fff;
    border-radius: 10px;
}
@keyframes flash {
    0%{text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px   #ff00de, 0 0 5px #ff00de;color:black;}
    50%{text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 40px    #ff00de, 0 0 70px #ff00de; color:white;}    
    100%{text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px     #ff00de, 0 0 5px #ff00de;color:black;}
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../image/loading.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}