/* 中间显示区 */
.show-info {
    width: 660px;
    height: 80px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    background-image: url(~@/assets/images/mutou.jpg);
}
.cover {
    width: 80px;
    height: 80px;
    border: 2px solid grey;
    background-image: url(~@/assets/images/cover.png);
}
.cover > img {
    width: 100%;
    height: 100%;
}
.cover > img[src=""] {
    opacity: 0;
}
.show-title {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid grey;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.show-title > span {
    animation: moving 4s linear infinite alternate;
    padding: 0 10px;
    white-space:nowrap;
    line-height: 50px;
    font-family: cursive;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}
/*@keyframes moving {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}*/

.led-num {
    border: 2px solid grey;
}
.led {
    width: 60px;
    height: 80px;
    background-color: #000;
    padding: 10px 0;
    box-sizing: border-box;
    float: left;
}
.led.dot {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.led.dot > i {
    height: 10px;
    width: 10px;
    display: block;
    background: #333;
    border-radius: 50%;
}
.enable {
    background-color: #f12a27 !important;
    box-shadow: 0px 0px 10px 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722;
}
.area-1, .area-3, .area-5 {
    height: 10%;
}
.area-2, .area-4 {
    height: 35%;
    display: flex;
    justify-content: space-between;
}
.seg {
    display: block;
    border-radius: 4px;
    background: #333;
    width: 30px;
    height: 100%;
    margin: 0 auto;
}
.pin-b, .pin-c, .pin-e, .pin-f {
    width: 6px;
    height: 100%;
}

.progress {
    width: 460px;
    height: 70px;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px 0 0 20px;
}
.progress-bar {
    width: 350px;
    height: 12px;
    cursor: pointer;
    background: linear-gradient(to right,#E50743 0%, #F9870F 15%, #E8ED30 30%, 
            #3FA62E 45%,#3BB4D7 60%,#2F4D9E 75%,#71378A 80%);
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar .show-bar {
    width: 100%;
    height: 12px;
    background: grey;
    float: right;
    /*box-shadow: 0px 0px 10px 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF, 0 0 1px #00E5FF;
    box-shadow: 0px 0px 10px 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722, 0 0 1px #FF5722;
    background-color: #fff;*/
    -border-radius: 4px;
}
.show-num {
    color: #fff;
}
@keyframes playingBar {
    100% { width: 0; }
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
